.btn-img {
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover img {
    filter: brightness(0);
    transition: filter 0.3s;
  }
}
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked + .btn-radio {
  color: $dark;
  background-color: $primary;
}
