.hover-scale {
  transition: scale 0.3s;
  &:hover,
  &:active {
    scale: 1.2;
  }
}
.hover-bg-gray-light {
  transition: background-color 0.3s;
  &:hover,
  &:active {
    background-color: $gray-light;
  }
}
