.dot {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1.4px solid $primary;
  border-radius: 50%;
  background: $gray;
  @include media-breakpoint-up(md) {
    width: 18px;
    height: 18px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    width: 1.2px;
    height: 40px;
    background: $primary;
    box-shadow: 0px 0px 5px 0px $primary;
  }
}
li:last-child .dot::after {
  height: 0;
}

.dot.active {
  background: $primary;
  box-shadow: (0px 0px 2px $primary), (0px 0px 6px $primary);
}

.leaflet-dark {
  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(80%) grayscale(80%);
  }
}

.circleMarker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #000;
  border: 2px solid $warning;
  border-radius: 50%;
  color: $warning;
  box-shadow: 0px 0px 2px 0px $warning, 0px 0px 6px 0px $warning;
}
